# create .env and copy these variables there
# $ cp .env.example .env

NUXT_PUBLIC_INITIA_CONTRACT_ADDRESS=0x272eb0a5C5477835DB757a627cb44A8BcB511E21
NUXT_PUBLIC_INITIA_SHOWCASE_TOKEN_ADDRESS=
NUXT_PUBLIC_INITIA_SHOWCASE_TOKEN_FAUCET_ADDRESS=
NUXT_PUBLIC_INITIA_MOCK_PERP_DEX_ADDRESS=
NUXT_PUBLIC_INITIA_EXECUTOR_ADDRESS=
NUXT_PUBLIC_INITIA_SHOWCASE_TARGET_ADDRESS=
NUXT_PUBLIC_INITIA_EXECUTOR_MAX_TRADE_WEI=1000000000000000000
NUXT_PUBLIC_INITIA_EXECUTOR_DAILY_LIMIT_WEI=5000000000000000000