# create .env and copy these variables there
# $ cp .env.example .env

# https://openrouter.ai/keys
OPENROUTER_API_KEY=
INITIATE_MNEMONIC=
MAX_AGENTS_PER_USER=5
MAX_MANAGERS_PER_USER=1
DEFAULT_MANAGER_MAX_AGENTS=2